Checkpoints/

Notebooks/ResultProcessor/results

Notebooks/ResultsProcesorCounter/results/
Notebooks/ResultsProcesorCounter/results.tar.gz
Notebooks/ResultsProcesorCounter/ResultsProcessor_Counter_Memory
Notebooks/ResultsProcesorCounter/ResultsProcessor_Exploratory
Notebooks/ResultsProcesorCounter/ResultsProcessorNotebook
Notebooks/ResultsProcesorCounter/coordinates.csv

Notebooks/coordinates.csv
Code/MultipleInstances/results/

Notebooks/Backup/counter_worker_results/
Notebooks/Backup/results/
Notebooks/Backup/coordinates.csv


Code/MultipleInstances/coordinates.csv
source_code/02_yelp/04_checkpoints/fifth_checkpoint/results/
