*.csv
*.log
source_code/02_yelp/04_checkpoints/
source_code/02_yelp/05_results/
source_code/02_yelp/04_Results/
source_code/03_results_processor/05_ResultsProcessor_Counter_Just_Websites/ResultsProcessor_Counter_Just_Websites_Results
source_code/03_results_processor/04_ResultsProcessor_Counter_All_Info/ResultsProcessor_Counter_All_Info_Results
source_code/03_results_processor/03_ResultsProcessor_Counter_Memory/ResultsProcessor_Counter_Memory_Results

